body {
    font-family: 'Poppins', sans-serif;
  }
  

  
  .shop-by-age-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
    padding: 0 50px; 
    margin:70px 0px ;
  }
  
  .shop-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .shop-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .shop-item:hover img {
    transform: scale(1.2);
  }
  
  @media (max-width: 1200px) {
    .shop-by-age-container {
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  @media (max-width: 992px) {
    .shop-by-age-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .shop-by-age-container {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 576px) {
    .shop-by-age-container {
      grid-template-columns: 1fr; 
    }
  }
  

  .shopAge {
    font-size: 2.5rem;
    color: #333;
    position: relative;
    margin-bottom: 30px;
    margin-top: 95px;
    font-weight: 700;
    text-align: center;

}

.shopAge::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #fc0000; 
    margin: 10px auto 0;
}